
.container{
    max-width: 1200px;
}
section{
padding-top:50px;
padding-bottom:50px;
text-align: center;
}

h1 {
     font-size: 65px;
      font-weight: 700;
}

.row h2{
    font-size: 50px;
       font-weight: 700;
}

h3{
    padding-top:20px;
    padding-bottom: 20px;
}
h4 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 20px;
}

footer {
    background-color: #2c3e50;
    color: white;
    padding-top: 80px;

}
.btp_navbar {
    background-color: #2c3e50;
    height: 80px;
    border: none;
}

.navbar-brand{
    font-size: 26px;
    font-weight: 700px;
}

.navbar-default .navbar-brand:hover{
    color:white;
}

.btp_navbar a.navbar-brand,
.btp_navbar .nav li a {
    color: white;
}

.btp_navbar .nav li a:hover{
    color:#1abc9c;
    text-decoration: none;
}

.menu-icon{
    display: inline-block;
}

.navbar-toggle{
    border: none;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom:10px;
    font-size:14px;
    font-weight: 700;
}

header {
    height:80px;
}

.btp_bg-green {
    background-color: #1abc9c;
    color:white;
    text-align: center;
    font-weight: 700;
}

.btp_banner-img {
    max-width: 240px;
}

.btp_star::before,
.btp_star::after {
    content: '';
    width: 10%;
    height:5px;
    background-color: white;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 10px;

}
.btp_bg-white{
    color:#2c3e50;

}

.btp_bg-white .btp_star::before,
.btp_bg-white .btp_star::after {
    content: '';
    width: 10%;
    height:5px;
    background-color: #2c3e50;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 10px;

}

.btp_star {
    padding-bottom: 20px;
    padding-top: 20px;
}


#star{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 30px;
}

/* END HEADER */


/* START PORTFOLIO SECTION */

.btp_portfolio-img {
    position:relative;
}


.btp_portfolio-overlay {
    display: none;
}


.btp_portfolio-img:hover .btp_portfolio-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 187, 156, 0.7);
    border-radius: 5px;
}


#plus{
    position: absolute;
    color: white;
    font-size: 40px;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
}

.btp_card {
    padding-bottom: 20px;
}

/* end portfolio */

/* START ABOUT */
 p{
    font-weight: 300;
    font-size: 20px;
    padding: 15px;
}

 #btp_about-button{
    background-color: #1abc9c;
    border-color: white;
    padding:20px 25px;

}

#btp_about-button a{
    height: 100%;
    text-decoration: none;
    color: white;
}
#btp_about-button a:hover,
#btp_about-button:hover{
    color: black;
    background-color: white;
}

/* contact */
.btp_form {
padding-top:50px;
padding:bottom:50px;
width: 75%;
margin:0 auto;
}

.btp_form input,
.btp_form textarea{
    margin-bottom: 15px;
    border-top: none;
    border-left:none;
    border-right:none;
    box-shadow: none;
    border-radius: 0px;

}

.form-group-lg button{
    background-color: #1abc9c;
    color: white;
    padding:20px 30px;
    border: 0px;
    border-radius: 10px;
}
.form-group-lg button:hover{
    background-color: #117964;
    color: white;
}

/* footer */

.btp_footer-col{
text-align: center;
padding-bottom: 50px;

}

.btp_footer-col li  {
    text-align: center;
    height:50px;
    width: 50px;
    color: white;
    list-style-type: none;
    display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 10px;
    position: relative;

}

.btp_footer-col li:hover{
    background-color: rgba(255, 255, 255, 1);
}
.btp_footer-col li a{
    width: 100%;
    color: white;
    font-size: 25px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
    border-radius: 50%;

}

.btp_footer-col li a:hover{
    color: black;
    /* background-color: rgba(255, 255, 255, 1); */
}
.btp_footer-col ul{
padding-left:0;
}
.bottom-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
    background-color: #1a252f;
}

.btp_footer-col p a {
    color:#1abc9c;
}
.btp_footer-col p a:hover{
    color: #117964;
}
